@import "tailwindcss";

:root {
  font-family: Inter, sans-serif;

  --ceo-bg: #09090b;
  --ceo-surface: #18181b;
  --ceo-border: #27272a;

  --ceo-text: #ffffff;
  --ceo-muted: #a1a1aa;

  --ceo-success: #22c55e;
  --ceo-danger: #ef4444;

  --ceo-primary: #ffffff;
}

* {
  box-sizing: border-box;
}

html {
  background: var(--ceo-bg);
}

body {
  margin: 0;
  background: var(--ceo-bg);
  color: var(--ceo-text);
}